/* .inner-header {
  background-color: rgb(101, 122, 115);
} */

.inner-header__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-main;
}


/* .inner-header {
  display: flex;
  flex-direction: column;
}

.inner-header__logo {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 800px;
  background-color: aquamarine;
}

.inner-header__logo-image {

  height: 100px;



} */