$bg-color-main: #ffffff;
$bg-color-secondary: #f2f2f2;
$bg-color-accent: #68b738;


$color-main: #000000;
$color-secondary: #444444;
$color-accent: #ffffff;

$button-bg-color-main: #68b738;
$button-bg-color-secondary: #5eaa2f;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
