.address {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: aqua;



  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    min-height: 198px;
    top: 95px;
    left: 110px;

    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


  }

}

.address__wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.address__text-wrapper {
  display: contents;
  margin: 0;
  padding: 0;

}

.address__slogan {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-secondary;
  margin: 0;
  padding: 0;


  &--street {

  }

  &--city {

  }
}