.example {
  margin: 0;

  @media (min-width: $tablet-width) {


  }

  @media (min-width: $desktop-width) {


  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-main;

  margin: 0;
  padding: 0;
}

.example__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-secondary;
  margin: 0;
  padding: 0;
}

.example__parameters {

}

.example__cost {


  &--discription {

  }

  &--value {

  }
}