.header {
  background-color: $bg-color-main;
  /* position: relative; */
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 32px;
  }
}

.header__logo {

}

.header__logo-image {


}

.header__nav {
  @media (min-width: $desktop-width) {
    max-width: 510px;
  }
}