.how-it-works {
  margin: 0;


  @media (min-width: $tablet-width) {


  }

  @media (min-width: $desktop-width) {

  }


}

.how-it-works__wrapper {
  display: flex;
  flex-direction: column;


}

.how-it-works__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-main;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 25px;


  @media (max-width: $mobile-width-only) {

  }

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;

  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.how-it-works__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 80px;

  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;


  }


}

.how-it-works__item {
/*   position: relative; */
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  display: flex;

  @media (max-width: $mobile-width-only) {

  }

  @media (min-width: $tablet-width) {

    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 235px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 136px;
      height: 235px;
      background-image: url(../img/number1.svg);
      background-position: top;
      background-repeat: no-repeat;
      z-index: -1;
      }


  }

  @media (min-width: $desktop-width) {
    &::before {
      left: auto;
      transform: none;

      }




  }

}



/* .how-it-works__item:not(:last-child) {
  margin-bottom: 20px;
} */

.how-it-works__item--number1::before {
  @media (min-width: $tablet-width) {
    background-image: url(../img/number1.svg);
  }
}

.how-it-works__item--number2::before {
  @media (min-width: $tablet-width) {
    background-image: url(../img/number2.svg);
  }
}

.how-it-works__item--number3::before {
  @media (min-width: $tablet-width) {
    background-image: url(../img/number3.svg);
  }
}

.how-it-works__item--number4::before {
  @media (min-width: $tablet-width) {
    background-image: url(../img/number4.svg);
  }
}




.how-it-works__icon--wrapper {
  background-color: $bg-color-accent;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    width: 60px;
    height: 60px;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;

  }

  @media (min-width: $desktop-width) {
    width: 80px;
    height: 80px;
  }
}

.how-it-works__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: $color-secondary;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {

  }

}


